h3{
  vertical-align: top;
}
.subscribe-btn{
  background-color: rgb(186, 11, 11);
  color: white;
  border: none;
  border-radius: 2.5px;
 /*  height: 35px;
  width: 105px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  margin-right: 16px;
  transition: opacity 0.6s ease-in-out;
  font-weight: bold;
  vertical-align: top;
}
/* hover attribute */
.subscribe-btn:hover{
/* background-color: green; */
      opacity:0.4;
}
/* active attribute, the color will change when you click on button */
.subscribe-btn:active{
/* background-color: blue */
  opacity:0.4;
}
.join-btn{
  background-color: white;
  color: rgb(3, 3, 194);
  border-color:rgb(3, 3, 194);
  border-radius: 2.5px;
  border-style: solid;
  border-width: 1.2px;;
  cursor: pointer;
 /*  height: 35px;
  width: 65px; */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 16px;
  font-weight: bold;
  /* add transition */
  transition: background-color 0.15s ease-in-out,
  color 0.15s;
  vertical-align: top;
}
.join-btn:hover{
background-color:  rgb(3, 3, 194);
  color: white;
}
.join-btn:active{
  opacity: 0.5;
}
.tweet-btn{
  background-color:rgb(4, 141, 227);
  color: white;
 /*  height: 35px; 
  width: 75px; */
  border: none;
/*   padding: 10px;  */
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  /* box-shadow:  5px 5px 5px rgb(25, 22, 231); */
/*   box-shadow:  5px 5px 5px rgb(0,0,0,0.45); */
transition: box-shadow 0.15s;
}
.tweet-btn:hover{
box-shadow:  5px 5px 5px rgb(0,0,0,0.45);
}

/* 2a */
.request-btn{
  background-color: black;
  color: white;
  border: none;
  height: 35px;
  width: 105px;
  cursor: pointer;
  margin-right: 16px;
}

/* 2b */
.adtocart-btn{
  background-color:rgb(255, 216, 20);
  color: black;
  height: 20px; 
  width: 110px;
  border: none;
  border-radius: 30px;
  font-weight:bold;
  font-size: 8.5px;
  cursor: pointer;
  margin-right: 16px;
}

/* 2c */
.signup-btn{
  background-color: rgb(46,164,79);
  color: white;
  border: none;
  border-radius: 4.5px;
  height: 28px;
  width: 75px;
  cursor: pointer;
  margin-right: 8px;
  font-weight: bold;
}

/* 2d */
.start-download-btn{
}
.getstarted-btn{
  background-color: rgb(121,82,179);
  color: white;
  border: none;
  border-radius: 2.5px;
  height: 35px;
  width: 105px;
  cursor: pointer;
  margin-right: 2px;
  font-weight: bold;
}
.download-btn{
  background-color: white;
  color:rgb(108,117,125);
  border: 1px solid rgb(108,117,125);
  border-radius: 2.5px;
  height: 35px;
  width: 105px;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
}

/* 2e */
.applyon-btn{
  background-color: rgb(10,102,194);
  color: white;
  border: none;
  border-radius: 30px;
  height: 35px;
  width: 200px;
  cursor: pointer;
  margin-right: 2px;
}
.save-btn{
  background-color:white;
  color: rgb(10,102,194);
  border: 1.5px solid rgb(10,102,194);
  border-radius: 30px;
  height: 35px;
  width: 70px;
  cursor: pointer;
  margin-right: 8px;
}

/* 2f */
.adtocart-btn2{
background-color:rgb(255, 216, 20);
  color: black;
  height: 20px; 
  width: 90px;
  border: none;
  border-radius: 30px;
  font-weight:bold;
  font-size: 8.5px;
  cursor: pointer;
  margin-right: 16px;
}
.buynow-btn{
background-color:rgb(255, 164, 28);
  color: black;
  height: 20px; 
  width: 90px;
  border: none;
  border-radius: 30px;
  font-weight:bold;
  font-size: 8.5px;
  cursor: pointer;
  margin-right: 16px;
}