p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.video-title{
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.video-stats{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 15px;
}
.video-author{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 15px;
}
.video-description{
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 200px;
  line-height: 21px;
  margin-top: 0;
/*   margin-bottom: 120px; */
}
.apple-text{
  margin-bottom: 20px;
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.shop-link{
  cursor: pointer;
  margin-left: 10px;
/*   color: red; */
}
.shop-link:hover{
  text-decoration: underline;
}
.tahoma-font{
  font-family: Tahoma;
  font-weight: bold;
  margin-top: 10px;
}
.big-deal{
font-family: Arial;
font-weight: bold;
}
.sale-end{
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  color: red;  
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: bold;
}
.course-title{
  font-family: verdana;
  font-weight: bold;
}
.course-level{
  font-family: verdana;
  color: rgb(96, 96, 96);
  font-size: 12px;
}
.course-description{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 250px;
  line-height: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.get-started-btn{
  background-color: rgb(74, 171, 102);
  color: white;
  font-family: verdana;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
};