.thumbnail{
  width: 200px;
  height: 200px;
/*   object-fit: contain; */
  object-fit: cover;
/*   border-radius: 50%; */
/*object-position: left top; */
/* object-position: right top; */
border-width: 2px;
border-style: solid;
border-color: black;
}
.search-bar{
  font-size: 20px;
  margin-left: 12px;
}